<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,300&display=swap');
@import "reset.css";
@import "components/status-bar.css";
@import "variable.css";
@import "components/screen-header.css";
@import "components/nav-bar.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
@import "welcome-header.css";


/*임포트 파일 순서 중요 */

body {
    font-family: "Open Sans", sans-serif;
    /*구글폰트에서 데려옴. 위에 import url에서 어디서 데려온건지 넣기 css링크*/
}

.welcome-header {
    margin-top: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.welcome-header_title {
    margin-bottom: 40px;
    font-size: 25px;
}

.welcome-header_text {
    width: 60%;
    margin-bottom: 40px;
    opacity: 0.7;
}

/* 어떻게 할지는 결정 . 선언 ? # 설정? */

INPUT:focus {
    outline: NONE;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}


#login-form input {
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
}

#login-form input ::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
    border-color: var(--yellow);
}

#login-form input[type="submit"] {
    background-color: var(--yellow);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 5px;
}

#login-form a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    height: 1000vh;
    color: 2e363e;
}


.friends-screen {
    padding: 0px var(--horizontal-space);
}

.main-screen {
    padding: 0px var(--horizontal-space);
=======
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,300&display=swap');
@import "reset.css";
@import "components/status-bar.css";
@import "variable.css";
@import "screens/login.css";

body {
    font-family: "Open Sans", sans-serif;
    /*구글폰트에서 데려옴. 위에 import url에서 어디서 데려온건지 넣기 css링크*/
}

.welcome-header {
    margin-top: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.welcome-header_title {
    margin-bottom: 40px;
    font-size: 25px;
}

.welcome-header_text {
    width: 60%;
    margin-bottom: 40px;
    opacity: 0.7;
}

/* 어떻게 할지는 결정 . 선언 ? # 설정? */

INPUT:focus {
    outline: NONE;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}


#login-form input {
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
}

#login-form input ::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
    border-color: var(--yellow);
}

#login-form input[type="submit"] {
    background-color: var(--yellow);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 5px;
}

#login-form a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 12px;
>>>>>>> 4cf04b1451c0e2f0192b224588276c2429685785
}